:root {
  --primary-color: #1b1c57;
  --secondary-color: #626687;
  --secondary-sub-color: #888b97;
  --accent-color: #f59e0b;
  --dark-green: #10b981;
  --light-green: #d1fae5;

  --font-family-base: "Lexend", sans-serif;

  --container-width: 1200px;
  --container-padding-x: 20px;

  --section-padding-y: 120px;

  --input-height: 54px;
  --button-height: 34px;

  --transition-duration: 0.2s;
}
